header {
    border-bottom-style: solid;
    border-color: white;
    padding-bottom: .5em;
    font-family: "Quicksand", sans-serif;
    color: #3A3A3A;
    font-size: 20px;
    margin: 1rem;
}

 nav ul {
    list-style-type: none;
    font-size: .85em;
    text-align: right;
    right: 1em;
    position: absolute;
    top: 3.7em;
}

nav li {
    display: inline;
    margin: .1rem;
}

nav a {
    text-decoration: none;
    padding: .5em;
    margin: .5rem;
    color: #3A3A3A;
}

/* nav a:hover {
    color: #D2B29B;
} */

* a:hover {
    color: #D2B29B;
}

#social-media-icons {
    list-style: none;
    position: absolute;
    right: 2em;
    top: 7em;
}

#social-media-icons li {
    display: inline-block;
    font-size: 180%;
}

#social-media-icons a {
    color: #3A3A3A;
    transition: color 0.5s;
}

#social-media-icons .instagram:hover {
    color: #E1306C;
} 

#social-media-icons .github:hover {
    color: black;
}

#social-media-icons .linked-in:hover {
    color: #2867B2;
}

footer {
    font-family: "Quicksand", sans-serif;
    position: fixed;
    bottom: 0;
    height: 2.5rem;
}

body {
    background-color: #FEF7E3;
}
